.root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 90%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
  overflow: auto;
  padding-left: 5%;
  padding-right: 5%
}

/* Missing documentation styles */

.documentation-missing {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.documentation-missing-text {
  font-size: 32px;
  font-family: monospace;
}

.documentation-add-button {
  padding: 30px;
}

/* Existing documentation styles */

.documentation {
  display: flex;
  flex-direction: column;
}

/* Main documentation sections */

.main-documentation-field {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-top: 15px;
}

.main-documentation-field-name {
  font-family: monospace;
  font-weight: bold;
  font-size: 20px;
  text-transform: capitalize;
}

/* Per-property documentation */

.property-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.list-entry {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-shrink: 0;
  margin-top: 15px;
}

.entry-header {
  font-family: monospace;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.entry-name {
  font-family: monospace;
  font-weight: bold;
  font-size: 20px;
  margin-left: 1em;
  color: salmon;
}

/* Undocumented property styles */

.entry-undocumented {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.entry-undocumented-label {
  font-family: monospace;
  padding-top: 10px;
  color: darkslategray;
}

/* Property documentation sections */

.entry-documentation {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.entry-documentation-field {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-top: 10px;
}

.entry-documentation-field-name {
  font-family: monospace;
  font-weight: bold;
  text-transform: capitalize;
}

/* Widgets */

.button {
  padding: 15px;
}

.add-field-button {
  padding: 5px;
  margin-left: 1em;
}

.remove-field-button {
  padding: 5px;
  margin-left: 1em;
}

.short-editor {
  height: 3em;
  overflow-y: auto;
}

.tall-editor {
  height: 5em;
  overflow-y: auto;
}

.short-field-editor {
  height: 2em;
  overflow-y: auto;
}

.tall-field-editor {
  height: 3em;
  overflow-y: auto;
}